@charset "UTF-8";
*{  
   font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
} 
body{
    background-image:linear-gradient(to right,#4C8B9D,#A7C5CF,#CBD7E7)
}
main {
       background-color: white;   
       border-radius: 10px;
       box-shadow: 5px 5px 15px #bbb66c59;
       width: 600px;
       padding: 10px;
       margin: auto;
}

h1 {
    text-align: center;
    color: #ffdf4f;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.575);
}
h2{ 
    color: #0E6BA8;

}
p { 
    text-align: justify;

}