@charset "UTF-8";
/*
   em HTMl é id   = em CSS é # ( só pode um elemento )
   em HTML class  = em CSS é . ( pode vários elementos )
    posso usar 2 deles, por exemplo um Class e ID ao mesmo tempo porém ID sempre sobrepõe o class. e class com class também podem ser unidos.
*/

body {
    background-color: #92f0d1d3;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(1, 59, 40);
}
h1#principal {
    text-align: center; 
    color: #ffffff;
    background-color: green;
}

h2 {
    color: rgb(29, 95, 49);
}
.basico {
    color: rgba(255, 255, 0, 0.836);
    
}
.intermediario {
    color: rgba(231, 193, 21, 0.767);

}
.avancado {
    color: rgba(228, 125, 7, 0.795);
  
}
.destaque {
    color: blue;
    background-color: green;
    
}