@charset "UTF-8";
 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
    
   :root{
      --cor0: #193C21;
      --cor1: #56A56C;
      --cor2: #71D88C;
      --cor3: #99DEB1;
      --cor4: #CCE9D7;
      --fonte0: Arial,Helvetica, sans-serif;
      --fonte1: 'Bebas Neue', sans-serif;
      --fonte2: 'Android', sans-serif;
   }
   body{
      background-color: #99DEB1;
      margin: 0px;
      line-height: 1.5em;
   }
   header {
          
          font-family: "Bebas Neue", sans-serif;
          font-style: normal;
          background-image: linear-gradient(to top, #193c21af 70%,#56a56cc4);
          margin: 0px 0px 0px 0px;
          padding: 25px 0px 0px 0px;
   }  
   header > h1{
          text-align: center;
          color: rgb(255, 255, 255);
          margin: 0px;
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.247);
          
   }
   header > p {
           text-align: center;
           color: white;
   }
   nav{
        background-color: #193C21;
        
   }
   nav > a {
       margin-right: 30px;
       color: white;
       text-decoration: none;
   }    
   main {
      background-color: white;
      min-width: 400px;
      max-width: 800px;
      margin: auto;
      border: 10px;
      padding: 10px;
      box-shadow:black;
   }
   main > h1 {  
       font-style: 'idroid', sans-serif;
       margin: 0px;
       
   }
   main > p {
      font-family: Arial, Helvetica, sans-serif;
      text-indent: 30px;
      text-align: justify;
   }
   h2 {
      font-style: 'idroid', sans-serif;
   }
   article{
      font-family: Arial, Helvetica, sans-serif;
      text-indent: 30px;
   }

   .especial {
      font-family: "Bebas Neue", sans-serif;
      text-decoration: none;
      color: #193C21;
      font-size: 18px;
      background-color: var(--cor3);
      margin: 2px;
      padding: 1px 3px 1px 3px;
   }
   ul {
      list-style-type: '\2714\0020\0020';
      columns: 2;
      list-style-position: inside;
   }
   aside {
      
      margin: 5px;
      border: 5px;
      border-radius: 15px;
      padding: 10px;
      background-color: var(--cor4);
   }
   aside > h3 {
      background-color: var(--cor1) ;
      color: white;
      margin: -9px;
      padding: 8px;
      border: 10px;
      border-radius: 10px 10px 0px 0px;
      box-shadow: 10px, black;
   }
   aside > p {
      font-weight: bold;
   }
   footer{
      font-family: Arial, Helvetica, sans-serif;
      background-color: #193C21;
      color: white;
      text-align: center;
      margin: 0px;
   }
   footer > p {
      margin: 0px;
   }
   div.video {
      position: relative;
      background-color: var(--cor0);
      height: 0px;
      margin-left: -10px;
      margin-right: -10px;
      margin-bottom: 15px;
      padding-bottom: 59%;

   }
   div.video > {
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
   }