     @charset "UTF-8";
   
        body{ background-color:  rgb(35, 164, 207);
            font-family: sans-serif;
            font-size: 20px
         }
         h1 { color:black; background-color: rgb(27, 66, 138);
         }
         h2 { color: antiquewhite;
         }
         p{
            text-align: justify;
         }
    